.model-container {
    width: 600px;
    height: 600px;
}

.spotify-embed {
    width: 100%;
    max-width: 660px;
    height: 80px;
    
    border: 0;
    border-radius: 12px;
}

.youtube-embed {
    width: 560px;
    height: 315px;

    border: 0;
}

.apple-embed {
    width: 100%;
    max-width: 660px;
    height: 175px;

    overflow: hidden;
    background: transparent;
    border: 0;
}

.bandcamp-embed {
    width: 100%;
    max-width: 660px;
    height: 120px;

    border: 0;
}